In [5]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [20]:
pd.set_option('display.max_columns', None)
URL ='https://www.drafthistory.com/positions/wr.html'
res = requests.get(URL)
soup = bs(res.content, 'html5lib')
table = soup.find('table')
df = pd.read_html(str(table))[0]
df.drop(index=0,inplace=True)
col_name = df.columns.tolist()
col_name.pop()
col_name.pop()
df = df[col_name]
df = df.drop(columns=[1,4])

df

         0      2     3                 5
1     Year  Round  Pick              Name
2     2022      1     8      Drake London
3      NaN      1    10    Garrett Wilson
4      NaN      1    11       Chris Olave
5      NaN      1    12  Jameson Williams
...    ...    ...   ...               ...
2251  1954     20     3     Raymond Berry
2252  1947     10     8     Dante Lavelli
2253  1945      1     5      Elroy Hirsch
2254   NaN      5     9        Pete Pihos
2255   NaN     11     5         Tom Fears

[2255 rows x 4 columns]

In [22]:
df.columns = ['rookie_s','round','pick','Player']

In [24]:
df.loc[:,'Pos'] = 'WR'

In [32]:
df = df.iloc[1:,:]

In [67]:
df.to_csv('/Users/brandynklee/Python_Projects/fantasy_footballl_22/data/wr_draft_pick_2022.csv', index=False)

In [60]:
df = pd.read_csv('/Users/brandynklee/Python_Projects/fantasy_footballl_22/data/wr_draft_pick_2022.csv')

In [61]:
df.rookie_s = pd.to_numeric(df.rookie_s, errors='coerce')

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2254 entries, 0 to 2253
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rookie_s  68 non-null     float64
 1   round     2254 non-null   int64
 2   pick      2254 non-null   int64
 3   Player    2254 non-null   object
 4   Pos       2254 non-null   object
dtypes: float64(1), int64(2), object(2)
memory usage: 88.2+ KB

In [58]:
df.mask(df.rookie_s == 'NaN', None).ffill()

      rookie_s  round  pick            Player Pos
0       2022.0      1     8      Drake London  WR
1       2022.0      1    10    Garrett Wilson  WR
2       2022.0      1    11       Chris Olave  WR
3       2022.0      1    12  Jameson Williams  WR
4       2022.0      1    16      Jahan Dotson  WR
...        ...    ...   ...               ...  ..
2249    1954.0     20     3     Raymond Berry  WR
2250    1947.0     10     8     Dante Lavelli  WR
2251    1945.0      1     5      Elroy Hirsch  WR
2252    1945.0      5     9        Pete Pihos  WR
2253    1945.0     11     5         Tom Fears  WR

[2254 rows x 5 columns]

In [65]:
df.ffill(inplace=True)

In [64]:
df.isna().sum()

rookie_s    2186
round          0
pick           0
Player         0
Pos            0
dtype: int64

In [66]:
df

      rookie_s  round  pick            Player Pos
0       2022.0      1     8      Drake London  WR
1       2022.0      1    10    Garrett Wilson  WR
2       2022.0      1    11       Chris Olave  WR
3       2022.0      1    12  Jameson Williams  WR
4       2022.0      1    16      Jahan Dotson  WR
...        ...    ...   ...               ...  ..
2249    1954.0     20     3     Raymond Berry  WR
2250    1947.0     10     8     Dante Lavelli  WR
2251    1945.0      1     5      Elroy Hirsch  WR
2252    1945.0      5     9        Pete Pihos  WR
2253    1945.0     11     5         Tom Fears  WR

[2254 rows x 5 columns]

In [3]:
pd.set_option('display.max_columns', None)

SNAPCOUNT_URL = 'https://raw.githubusercontent.com/fantasydatapros/data/master/snapcounts/{year}.csv'

start_year = 2013
end_year = 2021

snapcount_df = pd.DataFrame()

for year in range(start_year,end_year):
    yearly_sc_df = pd.read_csv(SNAPCOUNT_URL.format(year=year))
    yearly_sc_df['Season'] = year
    col_names = yearly_sc_df.columns.tolist()
    col_names.pop() #removes the last column name - 'Season'
    col_names.insert(0, 'Season')
    yearly_sc_df = yearly_sc_df[col_names]
    snapcount_df = pd.concat([snapcount_df, yearly_sc_df])

print(snapcount_df.shape)
snapcount_df.head()

(4152, 14)

,Season,Pos,Team,Name,G,Snaps,TeamSnaps,Snap%,Per Game,RushPerc,TargetP,TouchPerc,FP,FPPerSnap
0,2013,WR,DEN,Demaryius Thomas,16,1106,1207,91.63,69.13,0.0,12.84,12.84,227.0,0.21
1,2013,WR,BAL,Torrey Smith,16,1098,1136,96.65,68.63,0.0,12.48,12.48,138.8,0.13
2,2013,WR,GB,Jordy Nelson,16,1083,1122,96.52,67.69,0.0,11.73,11.73,179.4,0.17
3,2013,WR,CIN,AJ Green,16,1055,1132,93.20,65.94,0.0,16.87,16.87,208.6,0.20
4,2013,WR,DEN,Eric Decker,16,1050,1207,86.99,65.63,0.0,12.95,12.95,192.8,0.18

In [5]:
sc_2021_df = pd.read_csv('/Users/brandynklee/Python_Projects/fantasy_footballl_22/data/snapcount_fp_2021.csv')
sc_2021_df['Season'] = 2021
sc_2021_df['Per Game'] = (sc_2021_df['Snaps']/sc_2021_df['G'])
sc_2021_df = sc_2021_df[col_names]

print(sc_2021_df.shape)
sc_2021_df.head()

(392, 14)

,Season,Pos,Team,Name,G,Snaps,TeamSnaps,Snap%,Per Game,RushPerc,TargetP,TouchPerc,FP,FPPerSnap
0,2021,QB,GB,Aaron Rodgers,16,983,1056.989247,93,61.437500,3,0,57,336.3,0.342116
1,2021,QB,PIT,Ben Roethlisberger,16,1076,1086.868687,99,67.250000,2,0,58,228.0,0.211896
2,2021,QB,NYJ,Joe Flacco,2,66,137.500000,48,33.000000,3,0,67,23.8,0.360606
3,2021,QB,BAL,Josh Johnson,4,128,284.444444,45,32.000000,7,0,73,48.4,0.378125
4,2021,QB,ATL,Matt Ryan,17,1023,1054.639175,97,60.176471,4,0,59,234.8,0.229521

In [6]:
snapcount_df = pd.concat([snapcount_df, sc_2021_df])
print(snapcount_df.shape)
snapcount_df.head()

(4544, 14)

,Season,Pos,Team,Name,G,Snaps,TeamSnaps,Snap%,Per Game,RushPerc,TargetP,TouchPerc,FP,FPPerSnap
0,2013,WR,DEN,Demaryius Thomas,16,1106,1207.0,91.63,69.13,0.0,12.84,12.84,227.0,0.21
1,2013,WR,BAL,Torrey Smith,16,1098,1136.0,96.65,68.63,0.0,12.48,12.48,138.8,0.13
2,2013,WR,GB,Jordy Nelson,16,1083,1122.0,96.52,67.69,0.0,11.73,11.73,179.4,0.17
3,2013,WR,CIN,AJ Green,16,1055,1132.0,93.20,65.94,0.0,16.87,16.87,208.6,0.20
4,2013,WR,DEN,Eric Decker,16,1050,1207.0,86.99,65.63,0.0,12.95,12.95,192.8,0.18

In [7]:
snapcount_df.to_csv('/Users/brandynklee/Python_Projects/fantasy_footballl_22/data/snapcount_2013_2021.csv')

In [1]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd

pd.set_option('display.max_columns', None)

URL = 'https://www.pro-football-reference.com/years/2021/fantasy.htm'

res = requests.get(URL)
soup = BS(res.content, 'html.parser')
table = soup.find('table', {'id': 'fantasy'})
df = pd.read_html(str(table))[0]
df.columns = df.columns.droplevel(level=0)

#removing filler rows
df = df.loc[df['Player'] != 'Player']

#fixing player names that have astericks
df['Player'] = df['Player'].apply(lambda x: x.split('*')[0].strip())

#Column names:
#Player,Tm,Pos,Age,G,GS,Tgt,Rec,PassingYds,PassingTD,PassingAtt,RushingYds,
#RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost

df['PassingYds'] = df['Yds'].iloc[:, 0]
df['RushingYds'] = df['Yds'].iloc[:, 1]
df['ReceivingYds'] = df['Yds'].iloc[:, 2]

df['PassingTD'] = df['TD'].iloc[:, 0]
df['RushingTD'] = df['TD'].iloc[:, 1]
df['ReceivingTD'] = df['TD'].iloc[:, 2]

df['PassingAtt'] = df['Att'].iloc[:, 0]
df['RushingAtt'] = df['Att'].iloc[:, 1]

df = df.rename(columns={
    'FantPos': 'Pos', 'FantPt': 'FantasyPoints', 'Fmb': 'Fumbles', 'FL': 'FumblesLost'
})

df = df[[
    'Player','Tm','Pos','Age','G','GS','Tgt','Rec','PassingYds','PassingTD','PassingAtt',
    'RushingYds','RushingTD','RushingAtt','ReceivingYds','ReceivingTD','FantasyPoints',
    'Int','Fumbles','FumblesLost'
]]

print(df.shape)
df.head()

(671, 20)

,Player,Tm,Pos,Age,G,GS,Tgt,Rec,PassingYds,PassingTD,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost
0,Jonathan Taylor,IND,RB,22,17,17,51,40,0,0,0,1811,18,332,360,2,333,0,4,2
1,Cooper Kupp,LAR,WR,28,17,17,191,145,0,0,1,18,0,4,1947,16,295,0,0,0
2,Deebo Samuel,SFO,WR,25,16,15,121,77,24,1,2,365,8,59,1405,6,262,0,4,2
3,Josh Allen,BUF,QB,25,17,17,0,0,4407,36,646,763,6,122,0,0,403,15,8,3
4,Austin Ekeler,LAC,RB,26,16,16,94,70,0,0,0,911,12,206,647,8,274,0,4,3

In [2]:
df.to_csv('/Users/brandynklee/Python_Projects/fantasy_footballl_22/data/yearly_2021.csv')